@import '../../styles/colors.scss';

.container {
  display: flex;
  margin-bottom: 2rem;

  & h3,
  p {
    font-size: 2rem;
    letter-spacing: -1px;

    &:first-child {
      margin-right: 1.5rem;
      color: $main100;
    }
  }
}
