@import '../../styles/colors.scss';

.button {
    border: 0;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding: 0 16px;
    transition: background-color 0.2s;
    background-color: $main75;
    
    &:hover {
        background-color: $main100;
    }
}

.disabled {
    background-color: $gray75;
    cursor: not-allowed;

    &:hover {
        background-color: $gray75;
    }
}