@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/typography.scss';
@import '../../styles/spacings.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: $bp-large;
  flex: 1;

  & h2 {
    font-size: $small-font-size;
    font-weight: 700;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  margin-bottom: $small-space;

  & span {
    font-size: $large-font-size;
    font-weight: 400;

    color: $main100;
  }

  & h2 {
    color: $dark;
  }
}

.content {
  display: flex;
  flex-direction: column;

  & p {
    font-size: $small-font-size;
    margin: $small-space 0;
  }
}

.footer {
  align-self: flex-end;
  padding-top: $small-space;

  & h2 {
    color: $gray75;
  }
}

.children {
  align-self: center;
  justify-self: center;
  margin-block: $medium-space;
}

@media (min-width: $bp-medium) {
  .container {
    & h2 {
      font-size: $medium-font-size;
    }
  }

  .content {
    & p {
      font-size: $medium-font-size;
      margin: $medium-space 0;
    }
  }
}

@media (min-width: $bp-large) {
  .container {
    & h2 {
      font-size: $large-font-size;
    }
  }
}
