@import '../../styles/colors.scss';

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.skill {
    & h2 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.rank {
    display: flex;
    & div {
        margin-left: .5rem;
    }
}

.block {
    width: 4rem;
    height: 2.75rem;
    background-color: $main100;
    border-radius: 5px;
}

.colorNone {
    background-color: $gray50;
}