@import '../../styles/breakpoints.scss';

.container {
  max-width: $bp-large;
  min-width: $bp-small;
  margin-left: auto;
  margin-right: auto;
}

.sideBlock {
  display: none;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.lateralContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sideBlock {
  transform: rotate(-90deg);
}

.headerContainer {
  margin-bottom: 2rem;
}

@media (min-width: $bp-medium) {
}

@media (min-width: $bp-large) {
  .sideBlock {
    display: block;
  }
}

@media (max-width: $bp-large) {
  .grid {
    grid-template-columns: 1fr;
  }
}
