@import '../../styles/breakpoints.scss';
@import '../../styles/spacings.scss';

.container {
  max-width: $bp-large;
  margin-left: auto;
  margin-right: auto;
  padding: $large-space;
  margin-bottom: 8rem;
}

.sideBlock {
  display: none;
}

.headerContainer {
  display: none;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $medium-space;
}

.grid {
  display: grid;
  grid-gap: $large-space;
  grid-template-columns: repeat(2, 1fr);
}

.lateralContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sideBlock {
  transform: rotate(-90deg);
}

.headerContainer {
  margin-bottom: $medium-space;
}

@media (min-width: $bp-medium) {
  .headerContainer {
    display: block;
  }

  .container {
    padding: 0 $large-space 0 $large-space;
  }
}

@media (min-width: $bp-large) {
  .sideBlock {
    display: block;
  }

  .container {
    padding: 0;
  }
}

@media (max-width: $bp-large) {
  .grid {
    grid-template-columns: 1fr;

    & > div {
      margin-bottom: $medium-space;
    }
  }
}
